<div class="social_links">
  <ul>
    <li>
      <a href="#"><span class="fa fa-facebook"></span></a>
    </li>
    <li>
      <a href="#"><span class="fa fa-instagram"></span></a>
    </li>
    <li>
      <a href="#"><span class="fa fa-pinterest"></span></a>
    </li>
    <li>
      <a href="#"><span class="fa fa-google-plus"></span></a>
    </li>
    <li>
      <a href="#"><span class="fa fa-twitter"></span></a>
    </li>
    <li>
      <a href="#"><span class="fa fa-youtube"></span></a>
    </li>
  </ul>
</div>
        